* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
}

.Sidebar {
  border: 1px solid orange;
  width: 100px;
}

.features {
  border: 1px solid olive;
  width: 500px;
}

.tweet-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.tweet-avatar img {
  height: 100%;
}

.tweet-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .tweet-list .tweet-avatar {
  flex-basis: 20%;
} */

.tweet-list .tweet-content {
  flex-basis: 80%;
}
