* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

textarea {
  overflow: auto;
  resize: none;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100%;
  max-width: 640px;
  flex: 1 0 0;
}

.Sidebar {
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
}

.features {
  border-right: 1px solid orange;
  width: 564px;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.tweets {
  display: flex;
  flex-direction: column;
}

.tweet-avatar {
  padding: 0.2rem;
}

.tweet-avatar img {
  display: inline-block;
  width: 50px;
  border-radius: 100%;
}

.tweet-form {
  display: flex;
  padding: 1rem;
  background-color: orange;
}

.tweet-input-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  margin: 0.5rem;
}

.tweet-input-wrapper input,
.tweet-input-wrapper textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.tweet-input-wrapper textarea {
  height: 10vh;
}

.tweet-buttons {
  display: flex;
  justify-content: flex-end;
}
.tweet-buttons button {
  padding: 0.5rem;
  margin-left: 0.5rem;
  font-weight: bold;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
}

.tweet-list {
  flex: 1 0 70vh;
  overflow-y: scroll;
}

.tweet-list li {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.tweet-list li:last-child {
  border-bottom: none;
}

.tweet-list .tweet-content {
  flex: 1 0 0;
}

.tweet-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tweet-info .tweet-username {
  display: inline-block;
  font-weight: bold;
  margin-left: 0.5rem;
}

.tweet-info .tweet-date {
  display: inline-block;
  margin-left: 0.5rem;
}

.tweet-msg {
  padding: 0.5rem;
}

.tweet-msg-edit {
  /* padding: 0.5rem; */
  width: 100%;
  margin-left: 0.5rem;
  font-size: 16px;
}

.mypage .profile {
  display: flex;
  padding: 1rem;
  align-items: center;
  background-color: orange;
}

.tweet-info-wrapper {
  padding: 0.5rem 1rem;
}

.tweet-info-wrapper .tweet-username {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
